@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: 0;
	background-color: #0f0f0f;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #0f0f0f;
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: 0;
	background-color: #777777;
}

.glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

* {
  scroll-behavior: smooth;
}